@charset "utf-8";
/* CSS Document */
*{text-decoration: none}
body {background-color: #E8E6DF}
.navbar {
	background-color: #6B450D;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	padding-left: 15px;padding-right: 15px;
	
	
}
.navdiv {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}
li {
	list-style: none;
	display: inline-block;
	
}
li a {
	color: antiquewhite;
	font-size: 20px;
	font-weight: normal;
	margin-left: 25px;
}
button{
	color: antiquewhite;
	margin-left: 25px;
	font-size: 18px;
	border-radius: 10px;
	border-width: 1px;
	background-color: #735625
	
}
.sign {color: #FFFFFF;
	font-family:Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-weight: normal;
	margin: 20px;
}
	


	
.oldblog{
	font-size: 25px;
	font-weight: normal
}
.logo img {
	width: 60px;
	margin: 5px;
	border-radius: 60px
}
.heading {text-align: center;
font-size: 150%;
color: #31280D}
.opensong {text-align: center;
color: #31280D;}
.otherlink {text-align: center;
	font-style: normal;
	color: #31280D;
	font-weight: bold;
	text-decoration: none;
	}
.nextpagebutton {text-align: center;
	font-style: normal;
	color: #31280D;
	font-weight: bold;
	text-decoration: none;
	font-size: 170%;
	}
.Paragraph {font-weight: bold;
font-size: 140%;
color: #31280D;
}
.writing{
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	text-align: justify;
	margin-left: 10%;
	margin-right: 10%;
}
.heading{font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif"}
.lastlines{text-align:center;
text-decoration:inherit}
